.cards{
    background-color: black;
}
.event-name {
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 19.5px;
text-align: center;
color: rgba(220, 86, 197, 1);
}
.event-date{
background: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: center;
}
.event-place{
width: 59.3px;
height: 17px;
top: 1257px;
left: 262px;
gap: 0px;
opacity: 0px;
background: rgba(255, 255, 255, 1);
}