.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 199px;
  cursor: pointer;
  gap: 3px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.card:hover {
  border: 1px solid rgba(220, 86, 197, 0.3);
  background: rgba(220, 86, 197, 0.3);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 0;
  width: 227px;
  height: 220px;
}
.event-image img {
  border-radius: 50px 0px;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.event-image {
  position: relative;
  height: 120px;
  width: 120px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.events {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  max-width: 267px;
  padding: 8px;
  padding-top: 8px;

}
.event-name {
  display: flex;
  flex-wrap: wrap;
  color: rgba(220, 86, 197, 1);

}
.event-date {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  size: 16px;
  font-weight: 400;
  margin-top: 8px;
}
.event-place {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  size: 14px;
  font-weight: 600;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .event-image img {
    width: 141px;
    height: 120px;
  }
  .event-image {
    width: 141px;
    height: 120px;
  }
  .card {
    width: 152px;
    height: 211px;
  }
  .events {
  }
  .event-name {
    font-size: 16px;
  }
  .event-date {
    font-size: 14px;
  }
  .event-place {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .event-image img {
    width: 267px;
    height: 220px;
  }
  .event-image {
    width: 267px;
    height: 220px;
  }
  .card {
    width: 288px;
    height: 320px;
  }
}
