.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

.pagination button {
  margin: 5px 0;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #212121;
}

.pagination button.active {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  text-align: center;
  font-weight: bold;
  color: #dc56c5;
  border: 1px solid #dc56c5;
  border-radius: 10px 0px 10px 0px;
}

.pagination button:disabled {
  cursor: not-allowed;
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  padding: 10px;
  bottom: 0;
  left: 0;
  background-color: #212121;
  box-sizing: border-box;
  /* z-index: 1000; */
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  text-align: center;
  color: #939393;
}

.heart {
  color: red;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .pagination {
    flex-direction: row;
    margin-top: 40px;
  }

  .pagination button {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .pagination {
    margin-top: 60px;
  }

  .pagination button {
    font-size: 18px;
    padding: 12px 24px;
  }
}
