/*pentru mobil*/
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0px 7px 0px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: #fff2fd;
  width: 280px;
  height: auto;
  top: 400px;
  left: 20px;
  gap: 0px;
  border-radius: 150px 0px;
  opacity: 0px;
}

.close {
  color: #4c00fe;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.modal-logo {
  width: 102px;
  height: 102px;
  border-radius: 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.modal-image {
  display: none;
}

.modal-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: #dc56c5;
  text-align: center;
  margin: 0px 0px 7px 0px;
  text-transform: uppercase;
}

.modal-text {
  font-family: var(--font-family);
  font-weight: 400;
  color: #0e0e0e;
  font-size: 16px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin: 0px 0px 16px 0px;
}

.modal-main {
  display: flex;
  flex-direction: column;
  /*pentru mobil*/
  /* margin-top: 40px;*/
}

.modal-main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-buy {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-self: start;
}

.price {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.price::before {
  content: url('../images/barcodeSvg.svg');
  width: 24px;
  height: 17px;
  gap: 10px;
  margin-right: 10px;
}

.button-grup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.button-standard,
.button-vip {
  width: 100%;
  max-width: 120px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #4c00fe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-transform: ellipsis;
}

.button-standard:hover,
.button-vip:hover {
  background-color: #2e009a;
}

.button-more {
  display: inline-block;
  max-width: 200px;
  margin-top: 15px;
  margin-bottom: 30px;
  line-height: 19.5px;
  font-size: 12px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #4c00fe;
  color: #dc56c5;
  margin-left: 10%;
}

.button-more:hover {
  background-color: #dc56c5;
  color: #fff;
}

/*Stiluri pentru tableta*/
@media screen and (min-width: 768px) {
  #modal-body {
    margin: 32px 0px 7px 0px;
  }

  .modal-content {
    width: 704px;
    height: 781px;
    top: 160px;
    left: 32px;
    gap: 0px;
    border-radius: 300px 0px 300px 0px;
    opacity: 0px;
  }

  .close {
    top: 20px;
    right: 20px;
  }

  .modal-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
  }

  .modal-image {
    display: block;
    width: 249px;
    height: 217px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .modal-title {
    text-align: left;
  }

  .modal-text {
    width: 287px;
    text-align: left;
  }

  .modal-main {
    flex-direction: row;
    margin-top: 40px;
  }

  .modal-buy {
    margin: 16px 0px 7px 45px;
  }

  .modal-main-text {
    padding-left: 32px;
  }

  .button-grup {
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-standard,
  .button-vip {
    max-width: 130px;
    font-size: 14px;
    /* Butoane mai mari pe tabletă */
  }

  .button-more {
    display: block;
    max-width: 100%;
    padding: 0 20px;
    margin-left: 50%;
    font-size: 14px;
    white-space: nowrap;
  }
}

/* Stiluri pentru desktop */
@media screen and (min-width: 1280px) {
  #modal-body {
    margin: 54px 0px 7px 0px;
  }

  .modal-content {
    width: 1034px;
    height: 918px;
  }

  .close {
    top: 20px;
    right: 20px;
  }

  .modal-logo {
    width: 132px;
    height: 132px;
  }

  .modal-image {
    width: 427px;
    height: 326px;
  }

  .modal-title {
    font-size: 24px;
  }

  .modal-text {
    font-size: 18px;
    width: 427px;
  }

  .modal-buy {
    margin: 16px 0px 7px 55px;
  }

  .price::before {
    width: 29px;
    height: 21px;
  }

  .button-grup {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-standard,
  .button-vip {
    max-width: 145px;
  }

  .button-more {
    box-sizing: border-box;
    display: block;
    width: 224px;
    height: 30px;
    margin-bottom: 50%;
    margin-left: 60%;
    font-size: 16px;
    padding: 0 20px;
    text-align: center;
    line-height: 30px;
  }
}
