.search-header {
    width: 288px;
    align-items: center;
    display: flex;
    position: absolute;
    top: 210px;
    left: 336px;
}

.search-header__input {

    font-family: Montserrat, sans-serif;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    font-weight: 400;
    color: #939393;
    border: none;
    border-radius: 20px;
    width: 288px;
    height: 40px;
    padding: 10px 20px 10px 43px;
    box-sizing: border-box;
    text-align: left;

}

.search-header__input::placeholder {
    color: #939393;
    line-height: 20px;

}

.search-header__input:focus {
    outline: none;
}

.search-header__button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 21px;
}

.search-header__button:hover {
    cursor: pointer;
}

.search-header__icon {
    height: 12px;
    width: 12px;
    fill: #939393;
}

.search-header__icon:hover {
    height: 20px;
    width: 20px;
}