<link rel="stylesheet" href="./sass/index.scss">
<div class="cards">
    <div class="card">
        <picture>
            <source
              media="(min-width: 960px)"
              srcset="/src/images/eurovision party.webp 534w,
             /src/images/eurovision party(1).webp 1068w"
              sizes="50vw"
            ></source>
            <source
              media="(min-width: 600px)"
              srcset="/src/images/eurovision party141.webp"
            ></source>
            <source
              srcset="/src/images/eurovision party120.webp"
            ></source>
            <img
              src="/src/images/eurovision party.webp"
              width="368"/>
        </picture>
        <h3 class="event-name">Eurovision 2021 finals!</h3>
        <p class="event-date">2021-05-13</p>
        <p class="event-place">Palace of Ukraine</p>
        </div>
        <div class="card">
            <picture>
                <source
                  media="(min-width: 960px)"
                  srcset="/src/images/atlas.webp 534w,
                          /src/images/atlas (1).webp 1068w"
                  sizes="50vw"
                ></source>
                <source
                  media="(min-width: 600px)"
                  srcset="/src/images/atlas141.webp"
                ></source>
                <source
                  srcset="/src/images/atlas120.webp"
                ></source>
                <img
                  src="/src/images/atlas.webp"
                  width="368"/>
            </picture>
            <h3 class="event-name">Atlas Weekend</h3>
            <p class="event-date">2021-06-09</p>
            <p class="event-place">VDNH</p>
            </div>
            <div class="card">
                <picture>
                    <source
                      media="(min-width: 960px)"
                      srcset="/src/images/lp.webp 534w,
                              /src/images/lp (1).webp 1068w"
                      sizes="50vw"
                    ></source>
                    <source
                      media="(min-width: 600px)"
                      srcset="/src/images/lp141.webp"
                    ></source>
                    <source
                      srcset="/src/images/lp120.webp"
                    ></source>
                    <img
                      src="/src/images/lp.webp"
                      width="368"/>
                </picture>
                <h3 class="event-name">LP</h3>
                <p class="event-date">2021-07-27</p>
                <p class="event-place">Palace of Ukraine</p>
                </div>
                <div class="card">
                    <picture>
                        <source
                          media="(min-width: 960px)"
                          srcset="/src/images/love.webp 534w,
                                  /src/images/love (1).webp 1068w"
                          sizes="50vw"
                        ></source>
                        <source
                          media="(min-width: 600px)"
                          srcset="/src/images/love141.webp"
                        ></source>
                        <source
                          srcset="/src/images/love120.webp"
                        ></source>
                        <img
                          src="/src/images/love.webp"
                          width="368"/>
                    </picture>
                    <h3 class="event-name">MONATIK</h3>
                    <p class="event-date">2021-07-17</p>
                    <p class="event-place">VDNH</p>
                    </div>
                    <div class="card">
                        <picture>
                            <source
                              media="(min-width: 960px)"
                              srcset="/src/images/love.webp 534w,
                                      /src/images/love (1).webp 1068w"
                              sizes="50vw"
                            ></source>
                            <source
                              media="(min-width: 600px)"
                              srcset="/src/images/love141.webp"
                            ></source>
                            <source
                              srcset="/src/images/love120.webp"
                            ></source>
                            <img
                              src="/src/images/love.webp"
                              width="368"/>
                        </picture>
                        <h3 class="event-name">MONATIK</h3>
                        <p class="event-date">2021-07-17</p>
                        <p class="event-place">VDNH</p>
                        </div>
                        <div class="card">
                            <picture>
                                <source
                                  media="(min-width: 960px)"
                                  srcset="/src/images/lp.webp 534w,
                                          /src/images/lp (1).webp 1068w"
                                  sizes="50vw"
                                ></source>
                                <source
                                  media="(min-width: 600px)"
                                  srcset="/src/images/lp141.webp"
                                ></source>
                                <source
                                  srcset="/src/images/lp120.webp"
                                ></source>
                                <img
                                  src="/src/images/lp.webp"
                                  width="368"/>
                            </picture>
                            <h3 class="event-name">LP</h3>
                            <p class="event-date">2021-07-27</p>
                            <p class="event-place">Palace of Ukraine</p>
                            </div>
                            <div class="card">
                                <picture>
                                    <source
                                      media="(min-width: 960px)"
                                      srcset="/src/images/atlas.webp 534w,
                                              /src/images/atlas (1).webp 1068w"
                                      sizes="50vw"
                                    ></source>
                                    <source
                                      media="(min-width: 600px)"
                                      srcset="/src/images/atlas141.webp"
                                    ></source>
                                    <source
                                      srcset="/src/images/atlas120.webp"
                                    ></source>
                                    <img
                                      src="/src/images/atlas.webp"
                                      width="368"/>
                                </picture>
                                <h3 class="event-name">Atlas Weekend</h3>
                                <p class="event-date">2021-06-09</p>
                                <p class="event-place">VDNH</p>
                                </div>
                                <div class="card">
                                    <picture>
                                        <source
                                          media="(min-width: 960px)"
                                          srcset="/src/images/eurovision party.webp 534w,
                                                  /src/images/eurovision party(1).webp 1068w"
                                          sizes="50vw"
                                        ></source>
                                        <source
                                          media="(min-width: 600px)"
                                          srcset="/src/images/eurovision party141.webp"
                                        ></source>
                                        <source
                                          srcset="/src/images/eurovision party120.webp"
                                        ></source>
                                        <img
                                          src="/src/images/eurovision party.webp"
                                          width="368"/>
                                    </picture>
                                    <h3 class="event-name">Eurovision 2021 finals!</h3>
                                    <p class="event-date">2021-05-13</p>
                                    <p class="event-place">Palace of Ukraine</p>
                                    </div>
                                    <div class="card">
                                        <picture>
                                            <source
                                              media="(min-width: 960px)"
                                              srcset="/src/images/eurovision party.webp 534w,
                                                      /src/images/eurovision party(1).webp 1068w"
                                              sizes="50vw"
                                            ></source>
                                            <source
                                              media="(min-width: 600px)"
                                              srcset="/src/images/eurovision party141.webp"
                                            ></source>
                                            <source
                                              srcset="/src/images/eurovision party120.webp"
                                            ></source>
                                            <img
                                              src="/src/images/eurovision party.webp"
                                              width="368"/>
                                        </picture>
                                        <h3 class="event-name">Eurovision 2021 finals!</h3>
                                        <p class="event-date">2021-05-13</p>
                                        <p class="event-place">Palace of Ukraine</p>
                                        </div>
                                        <div class="card">
                                            <picture>
                                                <source
                                                  media="(min-width: 960px)"
                                                  srcset="/src/images/lp.webp 534w,
                                                          /src/images/lp (1).webp 1068w"
                                                  sizes="50vw"
                                                ></source>
                                                <source
                                                  media="(min-width: 600px)"
                                                  srcset="/src/images/lp141.webp"
                                                ></source>
                                                <source
                                                  srcset="/src/images/lp120.webp"
                                                ></source>
                                                <img
                                                  src="/src/images/lp.webp"
                                                  width="368"/>
                                            </picture>
                                            <h3 class="event-name">LP</h3>
                                            <p class="event-date">2021-07-27</p>
                                            <p class="event-place">Palace of Ukraine</p>
                                            </div><div class="card">
                                                <picture>
                                                    <source
                                                      media="(min-width: 960px)"
                                                      srcset="/src/images/lp.webp 534w,
                                                              /src/images/lp (1).webp 1068w"
                                                      sizes="50vw"
                                                    ></source>
                                                    <source
                                                      media="(min-width: 600px)"
                                                      srcset="/src/images/lp141.webp"
                                                    ></source>
                                                    <source
                                                      srcset="/src/images/lp120.webp"
                                                    ></source>
                                                    <img
                                                      src="/src/images/lp.webp"
                                                      width="368"/>
                                                </picture>
                                                <h3 class="event-name">LP</h3>
                                                <p class="event-date">2021-07-27</p>
                                                <p class="event-place">Palace of Ukraine</p>
                                                </div>
                                                <div class="card">
                                                    <picture>
                                                        <source
                                                          media="(min-width: 960px)"
                                                          srcset="/src/images/atlas.webp 534w,
                                                                  /src/images/atlas (1).webp 1068w"
                                                          sizes="50vw"
                                                        ></source>
                                                        <source
                                                          media="(min-width: 600px)"
                                                          srcset="/src/images/atlas141.webp"
                                                        ></source>
                                                        <source
                                                          srcset="/src/images/atlas120.webp"
                                                        ></source>
                                                        <img
                                                          src="/src/images/atlas.webp"
                                                          width="368"/>
                                                    </picture>
                                                    <h3 class="event-name">Atlas Weekend</h3>
                                                    <p class="event-date">2021-06-09</p>
                                                    <p class="event-place">VDNH</p>
                                                    </div>
                                                    </div>