<h1>Example title</h1>
<div class="cards"></div>
<div id="event-modal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <img id="modal-image" class="event-image" alt="Imagine Eveniment" />
    <h3 id="modal-event-name" class="event-name"></h3>
    <p id="modal-event-date" class="event-date"></p>
    <p id="modal-event-place" class="event-place"></p>
    <p id="modal-event-description" class="event-description"></p>
  </div>
</div>
